<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.actionbarsherlock.sample.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name" >
        <activity
            android:name=".SampleList"
            android:label="@string/activity_name"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionItems"
            android:label="@string/action_items" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionModes"
            android:label="@string/action_modes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionModesNoActionBar"
            android:label="@string/action_modes_no_action_bar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionProviders"
            android:label="@string/action_providers" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CollapsibleActionItem"
            android:label="@string/collapsible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContextMenus"
            android:label="@string/context_menus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomNavigation"
            android:label="@string/custom_navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeatureToggles"
            android:label="@string/feature_toggles" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndeterminateProgress"
            android:label="@string/iprogress" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListNavigation"
            android:label="@string/list_navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Overlay"
            android:label="@string/overlay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preference"
            android:label="@string/preference" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Progress"
            android:label="@string/progress" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchViews"
            android:label="@string/search_views" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Simple"
            android:label="@string/simple" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplitActionItems"
            android:label="@string/split"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareActionProviders"
            android:label="@string/share_action_providers" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplitActionModes"
            android:label="@string/split_action_modes"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaticAttachment"
            android:label="@string/static_attach" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Styled"
            android:label="@string/styled"
            android:theme="@style/Theme.Styled"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubMenus"
            android:label="@string/submenus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabNavigation"
            android:label="@string/tab_navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabNavigationCollapsed"
            android:label="@string/tab_navigation_collapsed" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.SendResult"
            android:label="@string/fragmentsende" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>

        <!-- Fragment Support Samples -->

        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentAlertDialogSupport"
            android:label="@string/fragment_alert_dialog_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentArgumentsSupport"
            android:label="@string/fragment_arguments_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentCustomAnimationSupport"
            android:label="@string/fragment_custom_animation_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentHideShowSupport"
            android:label="@string/fragment_hide_show_support"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentContextMenuSupport"
            android:label="@string/fragment_context_menu_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentDialogSupport"
            android:label="@string/fragment_dialog_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentDialogOrActivitySupport"
            android:label="@string/fragment_dialog_or_activity_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentLayoutSupport"
            android:label="@string/fragment_layout_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentListArraySupport"
            android:label="@string/fragment_list_array_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity android:name="com.actionbarsherlock.sample.fragments.FragmentLayoutSupport$DetailsActivity" />
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentMenuSupport"
            android:label="@string/fragment_menu_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentRetainInstanceSupport"
            android:label="@string/fragment_retain_instance_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentReceiveResultSupport"
            android:label="@string/fragment_receive_result_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentStackSupport"
            android:label="@string/fragment_stack_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentTabs"
            android:label="@string/fragment_tabs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentTabsPager"
            android:label="@string/fragment_tabs_pager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentPagerSupport"
            android:label="@string/fragment_pager_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.fragments.FragmentStatePagerSupport"
            android:label="@string/fragment_state_pager_support" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.demos.EXAMPLE" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.actionbarsherlock.sample.fragments.LoaderThrottleSupport$SimpleProvider"
            android:authorities="com.actionbarsherlock.sample.fragments.LoaderThrottle" />

        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.SampleList"
            android:label="@string/activity_name" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- OPEN BUGS -->

        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue240"
            android:label="Issue #240" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue272"
            android:label="Issue #272" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue331"
            android:label="Issue #331" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue738"
            android:label="Issue #738" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN" />
            </intent-filter>
        </activity>

        <!-- CLOSED BUGS -->

        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue379"
            android:label="Issue #379"
            android:theme="@style/Theme.Issue379"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- Fixed in 4.2.0 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue435"
            android:label="Issue #425" >

            <!-- Fixed in 4.1.0 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue659"
            android:label="Issue #659" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_issue659"
                android:value=".Issue659" />
        </activity>

        <provider
            android:name="com.actionbarsherlock.sample.knownbugs.Issue659SuggestionsProvider"
            android:authorities="com.actionbarsherlock.sample.knownbugs.Issue659SuggestionsProvider" />

        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue882"
            android:label="Issue #882" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.knownbugs.Issue969"
            android:label="Issue #969"
            android:theme="@style/Theme.Issue969" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.actionbarsherlock.sample.roboguice.activity.AstroboyMasterConsole"
            android:label="ABS: RoboGuice" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.actionbarsherlock.sample.roboguice.activity.FightForcesOfEvilActivity" />
        <activity
            android:name="com.actionbarsherlock.sample.styled.MainActivity"
            android:label="@string/activity_name"
            android:logo="@drawable/ad_logo"
            android:theme="@style/Theme.AndroidDevelopers" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>